body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    margin: 0;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode hr {
    border-color: #cccccc;
}

#top {
    text-align: center;
}

#top h1 {
    font-size: 75px;
    margin-top: 40px;
}

.school-name {
    text-align: center;
}

#content {
    margin-top: 75px;
    text-align: center;
}

#content p {
    text-align: left;
    margin: 25px auto;
    max-width: 800px;
    line-height: 1.5;
}

.list {
    list-style: decimal;
    max-width: 800px;
    margin: 25px auto;
    text-align: left;
    line-height: 1.5;
}

hr {
    width: 60%;
    margin: 0 auto;
}

#logo {
    margin-top: 75px;
}

#logo img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

body.dark-mode button {
    background-color: #333;
    color: white;
    border: 1px solid #aaa;
}
