
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    background-color: white;
    color: #222;
    padding: 1rem;
    text-align: center;
}
.main-nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
    padding: 0;
}
.main-nav li {
    padding: 0;
}
.main-nav a {
    color: #ffc107;
    text-decoration: none;
    padding: 8px;
}
#book-list {
    padding: 0 2rem;
}
.book {
    padding: 1rem;
    border-radius: 10px;
    margin: 20px auto;
}
.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.book p {
    padding-left: 20px;
}
.book img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
.book h2 {
    grid-area: book-title;
}
.book img{
    grid-area: book-poster;
}
.date{
    grid-area: book-date;
}
.ages{
    grid-area: book-age;
}
.genre{
    grid-area: book-genre;
}
.rating{
    grid-area: book-rating;
}
#desc{
    grid-area: book-desc;
}
.book {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'book-date book-title'
    'book-age book-poster'
    'book-genre book-poster'
    'book-rating book-poster'
    '. book-poster'
    '. book-desc';
  gap: 5px;
}

@media screen and (max-width: 600px) {
.book h2 {
    grid-area: book-title;
}
.book img{
    grid-area: book-poster;
}
.date{
    grid-area: book-date;
}
.ages{
    grid-area: book-age;
}
.genre{
    grid-area: book-genre;
}
.rating{
    grid-area: book-rating;
}
#desc{
    grid-area: book-desc;
}

.book{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    '. book-date'
    '. book-age'
    '. book-genre'
    '. book-rating'
    'book-title .'
    'book-poster .'
    'book-desc .';
    grid-gap: 5px;
}
}
  