body {
  background: red !important;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
}
.box {
  padding: 1rem;
  flex:1;
}
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
}
nav {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
}
nav a {
  padding: 20px;
  color: black;
  display: block;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 10;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    text-align: center;
}
.hide {
  display: none;
}
nav.open {
  display: flex;
}
.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}

@media screen and (min-width: 700px) {
  
  .menu-btn {
    display: none;
  }
  a {
  padding: 20px;
  color: black;
  display: block;
  }
 nav {
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
  }
  nav.open {
      display: flex;
  }
  main {
    flex-direction: row;
    gap: 1rem;
  }

  section {
    flex: 1;
  }
}

nav.open {
  display: flex;
}
