* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9d9d9;
    color: #000;
}

header {
    background-color: #2f7ddb;
    color: white;
    text-align: center;
    padding: 1rem;
}

.menu-label {
    font-size: 1rem;
    margin-top: .25rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links {
    display: none;
    list-style: none;
    margin-top: 0.5rem;
}

.nav-links.open {
    display: block;
}


main {
    padding: 1rem;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    justify-items: center;
}

.gallery img{
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    background-color: white;
}

footer{
    background-color: #2f7ddb;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}
/* modal */

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}
@media (min-width: 900px) {

    header {
        padding-bottom: 0.5rem;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    .menu-label {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery img {
        max-width: 200px;
    }
}