
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria;
    text-align: center;
}

#content header h1 {
    margin-top: 50px;
    font-size: xx-large;
}

#content header p {
    margin-top: 25px;
    color: lightseagreen;
    font-size: large;
}

#content hr {
    border: none;
    height: 4px;
    background-color: lightseagreen;
    width: 60%;
    margin: 30px auto 0;
}

img {
    margin-top: 25px;
}

#topics h2 {
    margin-top: 25px;
}

.list {
    list-style: none;
    margin: 0 650px;
    text-align: left;
    margin-top: 25px;
    font-size: large;
}