* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9d9d9;
    color: #000;
}

header {
    background-color: #2f7ddb;
    color: white;
    text-align: center;
    padding: 1rem;
}

.menu-label {
    font-size: 1rem;
    margin-top: .25rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

main {
    padding: 1rem;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    justify-items: center;
}

.gallery img{
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    background-color: white;
}

footer{
    background-color: #2f7ddb;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}

@media (min-width: 900px) {

    header {
        padding-bottom: 0.5rem;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    .menu-label {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery img {
        max-width: 200px;
    }
}